@charset 'utf-8';
@import url('common.css');

header{
	background: white;
	position: relative;
	
}
header > div{
    width:70%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:10px

	
}
header > div h2{
    width:100px;
	margin: 10px 13px 0 0;
	font-size: 0;

}
header div nav{
	margin-right: auto;
}
header div nav ul {
	display: flex;
	justify-content: space-between;
	
}
header div ul li{
	margin-left:30px;
}
header div nav ul li a{
	text-decoration: none;
	color:black;
	font-family:none;
}
header .col-md-3 img{
	width:20px;
	margin-left:10px;
}

.content .mainimg{
    position: relative;
}
.content .title img{
    position: absolute;
    top:0; left:0;
}
.content .title img:nth-of-type(1){margin-top: 100px;margin-left: 300px;}
.content .title img:nth-of-type(2){margin-top:250px;margin-left: 300px;}
.content .title img:nth-of-type(3){margin-top: 400px;margin-left: 300px;}

.content .title span{
    position: absolute;
    color: white;
    top:570px;left:300px;
    font-size: 2.5em;
    
}
.content .title p{
    position: absolute;
    color: white;
    top:640px; left:300px;
    font-size: 1.5em;
}
.content .contents div{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:800px;
	left:55px
	
	
}
.content .contents figure img{
	margin-right: 30px;
}
.content .contents figure figcaption p{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	margin-top: 20px;
}
.content .contents figure figcaption span{
	text-align: center;
	display: block;
	font-size:1.5em;
	margin-top: 20px;
	
}


.content .contents2{
    background: whitesmoke;
	margin-top: 680px;
	padding:140px
}
.content .contents2 img{
	margin: 0 auto;
	display: block;
	margin-bottom: 90px;	
}
.content .contents2 p{
	text-align: center;
	font-size: 1.5em;
}
.content .contents3{}
.content .contents3 img{
	width:701px; height:1051px;
	position: relative;
	
}
.content .contents3 img:nth-of-type(1){
	margin-top: 500px;
	margin-left: 200px;
	margin-right: 100px;
}
.content .contents3 img:nth-of-type(2){
	margin-top: 100px;
}
.content .contents3 h2{
	top:3500px;left:1000px;
	font-size: 2em;
	position: absolute;
	
	
}
.content .contents3 p{
	position: absolute;
	top:3580px;left:1000px;
	font-size: 1.5em;
}
.content .contents4 h2{
	font-size: 4em;
	text-align: center;
	margin-top: 200px;
}
.content .contents4 p{
	text-align: center;
}
.content .contents4 p:nth-of-type(1){
	font-size: 2em;
	margin-top: 70px;
}
.content .contents4 p:nth-of-type(2){
	font-size:1.5em ;
	margin-top: 60px;
}
.content .contents5{
	margin-left: 240px;
	margin-top: 100px;
}

footer{
	background: whitesmoke;
	margin:100px 0 0 0;
	text-align: center;
	

}
footer .col-md-4{
	margin: 0 auto;
}

footer .col-md-4 a img{
	width: 30px;
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 30px;
	
}
footer .footercontent{
	text-align: center;
}
footer .footercontent ul{
	display: flex;
	justify-content: center;
}
footer .footercontent ul li ::after{
	content: '|';
	display:inline-block;
    padding:0 20px;
}
footer .footercontent2{
	text-align: center;
}
footer .footercontent2 a{
	margin-left: 500px;
	margin-top:1px;
	display:block
}
